.database_container {
    width: 1000px;
    display: table;
    margin: 0 auto;
    overflow-x: scroll;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 10px lightgray;
    border-radius: 10px;
}

.table tr {
    border-bottom: 1px solid lightgray;
    background-color: white;
}

.table th {
    padding: 10px 0;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.5);
}

.table td {
    padding: 15px 0;
    text-align: center;

}

.agree {
    color: var(--success);
}

.disagree {
    color: var(--error);
}

@media only screen and (max-width: 1050px) {
    .database_container {
        width: 740px;
    }
}